{% extends "base.html" %}
{% block title %}Home - Music Education Website{% endblock %}
{% block content %}

<div class="jumbotron text-center bg-warning text-dark">
    <h2>Welcome to Clefver Music Education</h2>
    <p class="lead">Explore our music lessons, tutorials, and educational resources for all levels of musicians. Whether you are a beginner or an advanced musician, we have something for you!</p>
    <a class="btn btn-primary btn-lg" href="/tutorials" role="button">Start Learning</a>
</div>

<div class="featured-section mt-5 p-4 bg-light rounded">
    <h3 class="text-center text-info">Featured Lessons</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/tutorials">Learn the Basics of Music Principles</a></li>
        <li class="list-group-item"><a href="/music_theory_hub">Experiment With our Interactive Activities</a></li>
        <li class="list-group-item"><a href="/quiz_practice">Test Your Musical Knowledge</a></li>
    </ul>
</div>

<div class="about-section mt-5 p-4 bg-warning text-dark rounded">
    <h3>About Us</h3>
    <p>Our mission is to make learning music accessible and fun for everyone. From comprehensive tutorials to interactive exercises, we provide tools to help you grow as a musician.</p>
</div>
{% endblock %}
