{% extends "base.html" %}
{% block title %}Home - Music Education Website{% endblock %}
{% block content %}

<div class="jumbotron text-center bg-warning text-dark">
    <h2>Welcome to Clefver Music Education</h2>
    <p class="lead">Explore our music lessons, tutorials, and educational resources for all levels of musicians. Whether you are a beginner or an advanced musician, we have something for you!</p>
    <a class="btn btn-primary btn-lg" href="/tutorials" role="button">Start Learning</a>
</div>

<div class="featured-section mt-5 p-4 bg-light rounded shadow-sm">
    <h3 class="text-center text-info mb-4">Featured Lessons</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/tutorials" class="text-decoration-none"><span class="text-primary">Learn the Basics of Music Principles</span></a></li>
        <li class="list-group-item"><a href="/music_theory_hub" class="text-decoration-none"><span class="text-primary">Experiment With our Interactive Activities</span></a></li>
        <li class="list-group-item"><a href="/quiz_practice" class="text-decoration-none"><span class="text-primary">Test Your Musical Knowledge</span></a></li>
    </ul>
</div>

<div class="about-section mt-5 p-4 bg-warning text-dark rounded shadow-sm">
    <h3 class="text-center mb-3">About Us</h3>
    <p class="text-justify">Our mission is to make learning music accessible and fun for everyone. From comprehensive tutorials to interactive exercises, we provide tools to help you grow as a musician. Join our community and start your musical journey today!</p>
</div>

<div class="contact-section mt-5 p-4 bg-light rounded shadow-sm">
    <h3 class="text-center text-info mb-3">Contact Us</h3>
    <p class="text-center">Have questions or suggestions? Reach out to us at <a href="mailto:clefvermusiceducation@gmail.com" class="text-decoration-none text-primary">clefvermusiceducation@gmail.com</a>.</p>
</div>

{% endblock %}
